@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-border::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Adjust the height as needed */
    background: linear-gradient(to right, #38b2ac, #4299e1); /* Tailwind colors: from-green-400 to-blue-400 */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  
  .gradient-border:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  .goalsection{
    background-image: url("/src/assets/goalSectionbg.png");
    background-size: cover; /* Adjust as needed */
    background-position: center; 
  }

  .headerSection{
    background-image: url("/src/assets/projectSection.png");
    background-size: cover; /* Adjust as needed */
    background-position: center ; 
    repeat: no-repeat;
    
  }

  .vision{
    background-image: url("/src/assets/goalSectionbg.png");
    background-size: 100% 70%; /* Adjust as needed */
     
    background-repeat: no-repeat;
    
    
  }

  @media (max-width: 640px) { /* Tailwind's sm breakpoint */
    .vision {
      background-image: none;
    }
  }


  /*  */

 

  @layer utilities {
    .clip-diagonal-right {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 30%);
    }
  }
  
  